
CREATE TABLE driver_weekly_schedules (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    driver_id UUID REFERENCES drivers(id) ON DELETE CASCADE,
    direction TEXT NOT NULL CHECK (direction IN ('up', 'down')),
    seder TEXT NOT NULL CHECK (seder IN ('fartuk_seder', 'shiur_iyun', 'shiur_pshut', 'nacht_seder')),
    departure_time TIME NOT NULL,
    days_of_week INT[] NOT NULL 
);

-- We don't need to modify staff_presets! 
-- The UI will handle bulk inserting individual days to preserve our UNIQUE constraints!

